<div class="main">
  <div class="header">
    <ion-row>
      <ion-col size="6" size-sm="12" size-xs="12" size-lg="6" size-md="6">
        <div class="imgBg" style="background-image: url(assets/face-shield-image.jpg);">
          <div class="pro">
            <h2>CAP SHIELDS</h2>
            <ion-button>Get Yours</ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" size-sm="12" size-xs="12" size-lg="6" size-md="6">
        <div class="imgBg" style="background-image: url(assets/face-mask-image.jpg);">
          <div class="pro">
            <h2>Fabric Masks</h2>
            <ion-button>Get Yours</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div class="title">
      <h1 style="text-align: center;">TOGETHER,</h1>
      <h3> WE CAN PLAY GREAT DEFENSE</h3>
    </div>
  </div>

  <div class="des1">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo debitis doloribus provident, possimus eveniet
      cupiditate, rem quos magnam repudiandae dicta sit accusamus deleniti id enim autem tempora fuga, nobis placeat!
    </p>
    <h5>Just like on the rink, a good defense will lead us victory. Protest yourself, Protect your teamates. <br>
      <ion-button style="--background:black;color:white;margin-top: 12px;">
        <ion-icon name="person"></ion-icon>
        Find A Retailer</ion-button>
      <hr style="border-bottom: 2px blue solid;width: 8%;">
    </h5>

    <div class="des2">
      <h1>HOW IT'S MADE</h1>

      <p>
        <span class="sec1">CAP SHIELDS</span>
        <span class="sec2">FABRIC MASKS</span>
      </p>



    </div>
  </div>
  <ion-row class="wid75">
    <ion-col size="6" size-sm="12" size-xs="12" size-lg="6" size-md="6">
      <img src="assets/factory-1.jpg">
      <h3 style="font-weight: bold;">Lorem cmm cjcjjj</h3>
      <p style="width: 80%;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat similique vitae odio
        unde. Eaque rem
        accusamus repudiandae quaerat, odit explicabo ut maiores quia aliquid qui, ipsam illo maxime reprehenderit ad.
      </p>
    </ion-col>
    <ion-col size="6" size-sm="12" size-xs="12" size-lg="6" size-md="6">
      <img src="assets/factory-2.jpg">
      <img src="assets/factory-3.jpg">

    </ion-col>
  </ion-row>
  <div class="wid75" style="background-color: rgb(216, 214, 214);">
    <h3 style="font-size: 16px;text-align: center;font-weight: bolder;">CALL OUT ABOUT IF THERE ELGIBLE OR NOTIFICABLE
      FOR RETURN OR EXCHANGE</h3>
    <p style="text-align: center;font-size: 12px;">Details on the abc xyz jkj</p>
  </div>
  <ion-row class="wid75">
    <ion-col size="5" size-sm="12" size-xs="12" size-lg="5" size-md="5">
      <img src="assets/gallery-1.jpg">
      <ion-row>
        <ion-col size="6" size-sm="12" size-xs="12" size-lg="6" size-md="6">
          <img src="assets/gallery-3.jpg">
        </ion-col>
        <ion-col size="6" size-sm="12" size-xs="12" size-lg="6" size-md="6">
          <img src="assets/gallery-4.jpg">
        </ion-col>
      </ion-row>

    </ion-col>
    <ion-col size="2.5" size-sm="12" size-xs="12" size-lg="2.5" size-md="2.5">
      <img src="assets/gallery-7.jpg">
      <img src="assets/gallery-6.jpg">
      <img style="width: 97.5%;height: auto;" src="assets/gallery-5.jpg">


    </ion-col>
    <ion-col size="4.5" size-sm="12" size-xs="12" size-lg="4.5" size-md="4.5">
      <ion-row>
        <ion-col size="6" size-sm="12" size-xs="12" size-lg="6" size-md="6">
          <img src="assets/gallery-8.jpg">
        </ion-col>
        <ion-col size="6" size-sm="12" size-xs="12" size-lg="6" size-md="6">
          <img src="assets/gallery-9.jpg">
        </ion-col>
      </ion-row>
      <img style="height: 348px;width: auto;" src="assets/gallery-2.jpg">

    </ion-col>
  </ion-row>
 
  <div class="wid75">
    <hr style="border-top: 2px blue solid;width: 8%;">
    <div class="des3">
      <h1>CARE DETAILS</h1>
      <p>
        <span class="sec1">CAP SHIELDS</span>
        <span class="sec2">FABRIC MASKS</span>
      </p>
      <ion-row>
        <ion-col offset-md="3" offset-lg="3" size="4" size-sm="12" size-xs="12" size-lg="4" size-md="4">
          <img class="i4" src="assets/icon-face-mask-wear.svg">
          <h3 class="p4">PUTTING ON YOUR MASK</h3>
          <p class="p2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis est beatae fugit!
            Voluptate iure, amet ipsum sed debitis eveniet molestias beatae temporibus molestiae, quod distinctio
            voluptates corrupti fugit a quibusdam.</p>
        </ion-col>
        <ion-col size="4" size-sm="12" size-xs="12" size-lg="4" size-md="4">
          <img class="i4" src="assets/icon-face-mask-wear.svg">
          <h3 class="p4">WASHING YOUR MASK</h3>
          <p class="p2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis ducimus natus tempore
            repudiandae? Officiis dolorum obcaecati nobis laudantium, tempore est dicta quasi doloribus aperiam totam
            fugiat, et unde, cupiditate eius!</p>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <hr style="border-top: 2px blue solid;width: 8%;">
      <div class="des3">
        <h1>FAQs</h1>
        <p>
          <span class="sec1">CAP SHIELDS</span>
          <span class="sec2">FABRIC MASKS</span>
        </p>
      </div>
      <p style="background-color: black;font-size: 18px;color: white;padding: 4px;">LOREM ON SIT</p>
      <p style="font-size: 12px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea eligendi, consequuntur minima fuga, est quibusdam iure mollitia culpa quas sequi assumenda repellendus nemo aliquid laudantium cumque saepe, unde explicabo enim.</p>
    
      <p style="background-color: rgb(224, 222, 222);font-size: 18px;color: white;padding: 1px;">LOREM ON SIT</p>
      <p style="background-color: rgb(224, 222, 222);font-size: 18px;color: white;padding: 1px;">LOREM ON SIT</p>

      <p style="background-color: rgb(224, 222, 222);font-size: 18px;color: white;padding: 1px;">LOREM ON SIT</p>

      <p style="background-color: rgb(224, 222, 222);font-size: 18px;color: white;padding: 1px;">LOREM ON SIT</p>



    </div>
   

  </div>
  <div class="footer">
    Footer
</div>