td {
  padding: 5px;
  border: 1px solid grey;
}

.state-card {
  padding-left: 13px;
  padding-bottom: 10px;
  background-color: aliceblue;
  // width: 300px;
  // float: left;
  cursor: pointer;
  font-family: "Roboto";
  // margin-left: 10px;
  margin: 20px;
}
table {
  font-size: 18px;
}
// @media only screen and (min-device-width: 320px) and (max-device-width: 520px) {
//   .state-card{
//     margin: auto;
//   }
// }