td {
  padding: 5px;
  border: 1px solid grey;
}

.state-card {
  padding-left: 33px;
  padding-bottom: 10px;
  background-color: cornsilk;
  width: 320px;
  float: left;
  cursor: pointer;
  font-family: 'Roboto';
}
table{
  font-size: 18px;
}