ion-card {
  // height: 400px;
  // width: 310px;
  background-color: #fee140;
  background-image: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
  // margin: auto;
  ion-avatar {
    height: 150px;
    width: 150px;
    margin: auto;
  }
  p {
   
    font-size: 18px;
    text-align: center;
    color: slateblue;
    margin-top: 15px;
    font-weight: 450;
  }
}
